<div
  id="body"
  style="
    background-image: url('assets/images/back2.gif');
    background-size: contain;
  "
>
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>
            <a href="https://www.linkedin.com/in/ines-riahi-3696b8222/"
              >Ines Riahi</a
            >
          </h3>
          <p>{{ "key24" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>ines556riahi&commat;gmail.com</h3>
          <p>
            {{ "key25" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>
            <a href="https://github.com/Riahi-Ines" target="_blank"
              >Riahi-Ines</a
            >
          </h3>
          <p>{{ "key26" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h3>26427281</h3>
          <p>
            {{ "key27" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
