<main
  style="
    background-image: url('assets/images/back2.gif');
    background-size: auto;
  "
>
  <article>
    <!--
        - #PORTFOLIO
      -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">
        <h2
          class="section-title headline-md text-center"
          id="portfolio-label"
          style="color: hsl(301.39deg 19.27% 75.47% / 74%)"
        >
          {{ "key14" | translate }}
        </h2>

        <ul class="portfolio-list">
          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/proj222.png"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website for Stradegy"
                  class="img-cover"
                />

                <a
                  href="#"
                  class="btn-icon"
                  aria-label="More about Website Design for Stradegy"
                >
                  <button
                    ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></button>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">{{ "key15" | translate }}</span>

                <h3 class="title-md">{{ "key16" | translate }}</h3>

                <p class="card-text">
                  {{ "key17" | translate }}
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/proj11.png"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website Design for Asteelflash"
                  class="img-cover"
                />

                <a
                  href="#"
                  class="btn-icon"
                  aria-label="More about Website Design for Asteelflash"
                >
                  <button
                    ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></button>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">{{ "key15" | translate }}</span>

                <h3 class="title-md">
                  {{ "key18" | translate }}
                </h3>

                <p class="card-text">
                  {{ "key19" | translate }}
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="width: 300px; height: 440px; opacity: 2.6"
              >
                <img
                  src="./assets/images/imc.jpg"
                  width="300"
                  height="440"
                  loading="lazy"
                  alt="Website Design for IMC"
                  class="img-cover"
                />

                <a
                  class="btn-icon"
                  aria-label="More about Website Design for Marketing Agency Startup"
                >
                  <button
                    ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></button>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">{{ "key20" | translate }} </span>

                <h3 class="title-md">{{ "key21" | translate }}</h3>

                <p class="card-text">
                  {{ "key22" | translate }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
