<!--
    - #FOOTER
  -->

<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li>
        <a href="#" class="social-link">
          <button ion-icon name="logo-facebook"></button>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <button ion-icon name="logo-twitter"></button>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <button ion-icon name="logo-instagram"></button>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <button ion-icon name="logo-linkedin"></button>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <button ion-icon name="logo-pinterest"></button>
        </a>
      </li>
    </ul>

    <p class="text-center">&copy; {{ "key13" | translate }}</p>
  </div>
</footer>
