<main style="background-image: url('assets/images/back2.gif')">
  <article>
    <!--
      - #HERO
    -->

    <section class="section hero" id="section-one" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <p class="hero-subtitle">{{ "key1" | translate }}</p>
          <h1 class="headline-lg" class="typewriter">
            {{ "key2" | translate }}
          </h1>

          <p class="hero-text body-md">{{ "key3" | translate }}</p>

          <a
            href="https://drive.google.com/file/d/1637cmAj065GZFbFnRFjACufZQJTyN0Lc/view?usp=drive_link"
            target="_blank"
            class="btn btn-primary"
            >{{ "key4" | translate }}</a
          >
        </div>

        <figure class="hero-banner">
          <img src="assets/images/Ines2.png" alt="Ines" class="w-100" />
        </figure>
      </div>
    </section>

    <!--
      - #SKILL
    -->

    <section
      style="
        background-image: url('assets/images/back2.gif');
        background-size: contain;
      "
      class="section skill"
      id="section-two"
      aria-labelledby="skill-label"
    >
      <h2
        class="headline-md section-title text-center"
        id="testi-label"
        style="color: hsl(301.39deg 19.27% 75.47% / 74%)"
      >
        {{ "key5" | translate }}
      </h2>

      <div class="container">
        <div class="skills-section">
          <div class="skills-container">
            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/html.png" class="skills-icons" />
                </div>
                <h3>HTML 5</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/3/3d/CSS.3.svg"
                    alt=""
                    class="skills-icons"
                  />
                </div>
                <h3>CSS3</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/js.png" class="skills-icons" />
                </div>
                <h3>JAVASCRIPT</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/type.png" class="skills-icons" />
                </div>
                <h3>TYPESCRIPT</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/angular.png" class="skills-icons" />
                </div>
                <h3>ANGULAR</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/java.png" class="skills-icons" />
                </div>
                <h3>JAVA</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/spring.png" class="skills-icons" />
                </div>
                <h3>SPRING BOOT</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/node.png" class="skills-icons" />
                </div>
                <h3>NODE.JS</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/git.png" class="skills-icons" />
                </div>
                <h3>GIT GITHUB GITLAB</h3>
              </div>
            </div>

            <div class="skills-box">
              <div class="skills-title">
                <div class="skills-img">
                  <img src="assets/images/docker.png" class="skills-icons" />
                </div>
                <h3>DOCKER</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="section-three"
      class="section testi"
      aria-labelledby="testi-label"
    >
      <div class="container">
        <h2
          class="headline-md section-title text-center"
          id="testi-label"
          style="color: hsl(301.39deg 19.27% 75.47% / 74%)"
        >
          {{ "key7" | translate }}
        </h2>

        <ul class="slider">
          <li class="slider-item card-container">
            <div class="card card-lg">
              <figure class="card-media">
                <img
                  src="assets/images/tek.jpg"
                  width="100"
                  height="100"
                  loading="lazy"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <p class="client-name">TEKRND</p>
                <blockquote class="body-sm">
                  {{ "key6" | translate }}
                </blockquote>
              </div>
            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">
              <figure class="card-media">
                <img
                  src="assets/images/isimm.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="Jennifer Lutheran"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <p class="client-name">ISIMM</p>
                <blockquote class="body-sm">
                  {{ "key8" | translate }}
                </blockquote>
              </div>
            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">
              <figure class="card-media">
                <img
                  src="assets/images/asteel.jpg"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="Jennifer Lutheran"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <p class="client-name">ASTEELFLASH</p>
                <blockquote class="body-sm">
                  {{ "key9" | translate }}
                </blockquote>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
